# Curso Big Data Real time Analytics com Python e spark

## Mini Projeto Treinamento Data Science Academy

### Analisando dados do Uber com Spark

Dataset: https://github.com/fivethirtyeight/uber-tlc-foil-response

Esse conjunto de dados contém dados de mais de 4,5 milhões de captações Uber na cidade de Nova York de abril a setembro de 2014 e 14,3 milhões de captações Uber de janeiro a junho de 2015. Dados em nível de viagem sobre 10 outras empresas de veículos de aluguel (FHV) bem como dados agregados para 329 empresas de FHV, também estão incluídos. Todos os arquivos foram recebidos em 3 de agosto, 15 de setembro e 22 de setembro de 2015.


1- Quantos são e quais são as bases de carros do Uber (onde os carros ficam esperando passageiros)?

2- Qual o total de veículos que passaram pela base B02617?

3- Qual o total de corridas por base?

In [1]:
#Leitura do CSV
from pandas import read_csv

In [2]:
uber_df = read_csv('data/uber.csv')

In [3]:
#Verificando as primeiras linhas
uber_df.head(10)

  dispatching_base_number      date  active_vehicles  trips
0                  B02512  1/1/2015              190   1132
1                  B02765  1/1/2015              225   1765
2                  B02764  1/1/2015             3427  29421
3                  B02682  1/1/2015              945   7679
4                  B02617  1/1/2015             1228   9537
5                  B02598  1/1/2015              870   6903
6                  B02598  1/2/2015              785   4768
7                  B02617  1/2/2015             1137   7065
8                  B02512  1/2/2015              175    875
9                  B02682  1/2/2015              890   5506

  dispatching_base_number      date  active_vehicles  trips
0                  B02512  1/1/2015              190   1132
1                  B02765  1/1/2015              225   1765
2                  B02764  1/1/2015             3427  29421
3                  B02682  1/1/2015              945   7679
4                  B02617  1/1/2015             1228   9537
5                  B02598  1/1/2015              870   6903
6                  B02598  1/2/2015              785   4768
7                  B02617  1/2/2015             1137   7065
8                  B02512  1/2/2015              175    875
9                  B02682  1/2/2015              890   5506

In [ ]:
type(uber_df)

In [ ]:
#Transformar em RDD spark
uber_RDD = sc.textFile('data/uber.csv')
type(uber_RDD)

In [ ]:
#Verificando os 5 primeiros elementos
uber_RDD.take(5)

In [ ]:
uber_lines = uber_RDD.map(lambda line: line.split(','))

In [ ]:
uber_lines.take(5)

In [ ]:
#Quais são as bases de carros do uber
uber_bases = uber_lines.map(lambda line: line[0]).distinct().collect() 
print(uber_bases[1:])

In [ ]:
#Quantas bases existem 
bases_count = uber_lines.map(lambda line: line[0]).distinct().count() -1
print('Número de bases: ', bases_count)

In [ ]:
#Total de veiculos que passam pela base B02617
base_B02617 = uber_lines.filter(lambda line: 'B02617' in line).count()
print("Total de veiculos base B02617: ", base_B02617)

In [ ]:
#Retirando a primeira linha com os nomes de colunas
uber_rdd_2 = sc.textFile('data/uber.csv').filter(lambda line: "base" not in line).map(lambda line: line.split(","))

In [ ]:
uber_rdd_2.take(5)

In [ ]:
#Total por bases
uber_rdd_2.map(lambda kp: (kp[0], int(kp[3]))).reduceByKey(lambda x, y: x + y).collect()